<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="crm" connectionString="Url=https://contoso.crm4.dynamics.com; Username=user@contoso.onmicrosoft.com; Password=LetMeIn; authtype=Office365"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
